html {
    -webkit-locale: "fr";
    -webkit-font-smoothing: antialiased;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

head {
    -webkit-font-smoothing: antialiased;
    box-sizing: inherit;
}

body {
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #fafafa;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
    height: 100px;
}

div.jss55.jss57.sc-cHGsZl.idirGq.jss56 {
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    box-sizing: inherit;
    position: relative;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    height: 15%;
    max-height: 100px;
    background-color: #2E3154;
    color: rgb(255, 255, 255);
    display: flex;
    z-index: 100;
    border-bottom: 1px solid rgb(224, 224, 224);
}

div.center {
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgb(255, 255, 255);
    box-sizing: inherit;
    display: flex;
    flex: 1 1 0%;
    align-self: center;
}

div.right {
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgb(255, 255, 255);
    box-sizing: inherit;
    display: flex;
    flex: 1 1 0%;
    flex-direction: row-reverse;
    align-self: flex-end;
}

div.sc-hSdWYo.gDZaHb{
    -webkit-font-smoothing: antialiased;
color: rgba(0, 0, 0, 0.87);
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
margin-top: 16px;
border-top: 1px solid rgb(231, 240, 246);
border-bottom: 1px solid rgb(231, 240, 246);
}

nav.sc-eHgmQL.cIiKOo{
    -webkit-font-smoothing: antialiased;
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
display: flex;
-webkit-box-pack: center;
justify-content: center;
color: rgb(97, 97, 97);
background-color: rgb(255, 255, 255);
border-top: 1px solid rgb(224, 224, 224);
border-bottom: 1px solid rgb(224, 224, 224);
}

div.jss105{
    -webkit-font-smoothing: antialiased;
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
color: rgb(97, 97, 97);
box-sizing: inherit;
display: flex;
overflow: hidden;
min-height: 48px;
}


div#container {
    font-family: 'Source Sans Pro', sans-serif;
min-height: 100%;
margin: 50px auto;
width: 80%;
}

div.card-link {
    font-family: 'Source Sans Pro', sans-serif;
color: inherit;
text-decoration: none;
}

article.blog-card {
    font-family: 'Source Sans Pro', sans-serif;
color: inherit;
margin-bottom: 40px;
flex-direction: row;
background: #fff;
box-shadow: 0 0.1875rem 1.5rem rgba(0, 0, 0, 0.2);
border-radius: 0.375rem;
overflow: hidden;
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr;
}

div.article-details {
    font-family: 'Source Sans Pro', sans-serif;
color: inherit;
padding: 1.5rem;
}

h3.post-title {
    font-family: 'Source Sans Pro', sans-serif;
transition: color 0.3s ease;
font-size: 1.125rem;
line-height: 1.4;
color: #121212;
font-weight: 700;
margin: 0 0 0.5rem 0;
}

img.post-image {
    font-family: 'Source Sans Pro', sans-serif;
color: inherit;
transition: opacity 0.3s ease;
display: block;
width: 100%;
object-fit: cover;
height: 100%;
}

p.post-description {
    font-family: 'Source Sans Pro', sans-serif;
color: inherit;
}

div.sc-frDJqD.esUjcn {
    -webkit-font-smoothing: antialiased;
color: rgba(0, 0, 0, 0.87);
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
}

div.sc-kvZOFW.lfVgCI {
    -webkit-font-smoothing: antialiased;
color: rgba(0, 0, 0, 0.87);
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
background: linear-gradient(90deg, #5F77B4 21px, transparent 1%) center center / 22px 22px, linear-gradient(#5F77B4 21px, transparent 1%) center center, rgb(189, 189, 189);
}

footer.sc-hqyNC.iQPqOT {
    -webkit-font-smoothing: antialiased;
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
color: rgb(255, 255, 255);
padding: 40px 0px;
}

div.sc-tilXH.bgXdYX {
    -webkit-font-smoothing: antialiased;
color: rgba(0, 0, 0, 0.87);
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
display: flex;
background-color: #2E3154;
}

a.jss17.jss47.jss49.sc-hEsumM.iVEPpW.jss40 {
    -webkit-font-smoothing: antialiased;
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
box-sizing: inherit;
text-decoration: none;
color: rgb(245, 245, 245);
margin: auto;
padding: 12px 0px;
}

p.jss17.sc-ktHwxA.grrpTS.jss18 {
    -webkit-font-smoothing: antialiased;
box-sizing: inherit;
margin: 0;
font-size: 0.875rem;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.01071em;
display: flex;
-webkit-box-align: center;
align-items: center;
color: rgb(255, 255, 255);
}

