html {
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 100%;
}

head {
    font-family: sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #eee;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;   
    font-weight: 300;
    overflow-y: scroll;
    display: block;
    direction: ltr;
}

div.login-page {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    background-color: #f5f5f5;
}

div.middle {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    display: table-cell;
    vertical-align: middle;
}

div.login-container {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    padding: 48px 40px 24px;
    min-height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 4px;
}

div.header {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img.app-logo {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    vertical-align: middle;
    width: 110px;
    height: 110px;
}

h1 {
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: .67em 0;
    color: inherit;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    padding-bottom: 0;
    padding-top: 16px;  
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}

p.help-login{
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4286;
    padding-bottom: 3px;
    padding-top: 1px;   
    margin-bottom: 0;
    margin-top: 0;
}

div.validation-error{
    line-height: 1.42857143;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: #f44336;
    font-size: 12px;
    font-weight: 400;
    min-height: 16px;
    padding-top: 8px;
    visibility: hidden;
}

form#login-form.login-form{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-top: 24px;
}

div.form-group.label-floating.is-empty{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    padding-bottom: 7px;
    margin: 28px 0 0 0;
    margin-top: 6px;
}

label.control-label{
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    max-width: 100%;    
    color: #bdbdbd;
    font-weight: 400;
    margin: 6px 0 0 0;
    padding-top: 8px;
    position: absolute;
    pointer-events: none;
    transition: .3s ease all;
    will-change: left,top,contents;
    top: -7px;
    font-size: 16px;
    line-height: 1.42857143;
}

input#username.form-control{
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font: inherit;
    margin: 0;
    font-family: inherit;
    display: block;
    width: 100%;
    color: #555;
    height: 38px;
    padding: 7px 0;
    font-size: 16px;
    line-height: 1.42857143;
    border: 0;
    background-image: linear-gradient(#1270ab,#1270ab),linear-gradient(#d2d2d2,#d2d2d2);
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(99%);
    background-color: rgba(0,0,0,0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 7px;
}

input#password.form-control{
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font: inherit;
    margin: 0;
    font-family: inherit;
    display: block;
    width: 100%;
    color: #555;
    height: 38px;
    padding: 7px 0;
    font-size: 16px;
    line-height: 1.42857143;
    border: 0;
    background-image: linear-gradient(#1270ab,#1270ab),linear-gradient(#d2d2d2,#d2d2d2);
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(99%);
    background-color: rgba(0,0,0,0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 7px;
}

div.footer{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 300;
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-top: 24px;
}

input#csrf_token{
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
    font: inherit;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button.btn.btn-primary.btn-raised.btn-block.btn-submit{
    direction: ltr;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    line-height: 1.42857143;
    user-select: none;
    display: block;
    border: 0;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow,transform;
    transition: box-shadow .2s cubic-bezier(0.4,0,1,1),background-color .2s cubic-bezier(0.4,0,0.2,1),color .2s cubic-bezier(0.4,0,0.2,1);
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    background-color: #2E3154;
    color: rgba(255,255,255,0.84);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
    margin: 35px auto 0 auto;
    width: 200px;
    margin-top: 15px;
}

span.loading-p{
    direction: ltr;
    font: inherit;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    line-height: 1.42857143;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    color: rgba(255,255,255,0.84);
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    display: none;
}