<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet">

    <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'timeGrid'],
          defaultView: 'dayGridMonth',
          defaultDate: '2020-01-17',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth, timeGridWeek, timeGridDay'
          },
          events: [ 
            {
              title: 'NodeJS',
              start: '2020-01-20T08:00:00',
              end: '2020-01-20T12:00:00',
              backgroundColor: 'red'
            },
            {
              title: 'Visualisation et Colaboration autour des données',
              start: '2020-01-20T14:00:00',
              end: '2020-01-20T18:00:00',
              backgroundColor: 'red'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-21T10:00:00',
              end: '2020-01-20T12:00:00',
              backgroundColor: 'blue'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-21T14:00:00',
              end: '2020-01-20T20:00:00',
              backgroundColor: 'blue'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-22T10:00:00',
              end: '2020-01-22T12:00:00',
              backgroundColor: 'blue'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-22T14:00:00',
              end: '2020-01-22T18:00:00',
              backgroundColor: 'blue'
            }, 
            {
              title: 'Projet de fin etudes',
              start: '2020-01-23T10:00:00',
              end: '2020-01-23T12:30:00',
              backgroundColor: 'rgb(255, 233, 51)'
            }, 
            {
              title: 'Lunch with dad',
              start: '2020-01-12T12:00:00',
              end: '2020-01-12T14:00:00'
            }
          ]
        });
        calendar.render();
      });

    </script>
  </head>
  <body>

    <div id='calendar'></div>
    </div>
  </body>
</html>