<!DOCTYPE html>
<html>
  <head>
    <title>The Young Goat - New Subject (Test)</title>
  </head>

  <body>
    <form action="http://localhost:3000/subject" method="POST">
      <input name="subjectID" type="text" placeholder="ID matiere" />
      <input name="title" type="text" placeholder="Nom de la matiere" />
      <input name="professor" type="text" placeholder="Professor" />

      <input type="submit" value="Create a Subject" />
    </form>
  </body>
</html>