<html lang="fr">
    <head><!--mui-inject-first-->
        <style data-jss="" data-meta="MuiTouchRipple">
.jss95 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}
.jss96 {
  opacity: 0;
  position: absolute;
}
.jss97 {
  opacity: 0.3;
  animation: jss102 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
.jss98 {
  animation-duration: 200ms;
}
.jss99 {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 1;
  border-radius: 50%;
  background-color: currentColor;
}
.jss100 {
  opacity: 0;
  animation: jss103 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.jss101 {
  top: 0;
  left: 0;
  position: absolute;
  animation: jss104 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
}
@-webkit-keyframes jss102 {
  0% {
    opacity: 0.1;
    transform: scale(0);
  }
  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
@-webkit-keyframes jss103 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes jss104 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
</style>
        <style data-jss="" data-meta="MuiButtonBase">
.jss77 {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.jss77::-moz-focus-inner {
  border-style: none;
}
.jss77.jss78 {
  cursor: default;
  pointer-events: none;
}
</style>
        <style data-jss="" data-meta="MuiButton">
.jss130 {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.jss130:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.08);
}
.jss130.jss142 {
  color: rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .jss130:hover {
    background-color: transparent;
  }
}
.jss130:hover.jss142 {
  background-color: transparent;
}
.jss131 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.jss132 {
  padding: 6px 8px;
}
.jss133 {
  color: #0e3b5a;
}
.jss133:hover {
  background-color: rgba(14, 59, 90, 0.08);
}
@media (hover: none) {
  .jss133:hover {
    background-color: transparent;
  }
}
.jss134 {
  color: #5f095f;
}
.jss134:hover {
  background-color: rgba(95, 9, 95, 0.08);
}
@media (hover: none) {
  .jss134:hover {
    background-color: transparent;
  }
}
.jss135 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
}
.jss135.jss142 {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
.jss136 {
  color: #0e3b5a;
  border: 1px solid rgba(14, 59, 90, 0.5);
}
.jss136:hover {
  border: 1px solid #0e3b5a;
  background-color: rgba(14, 59, 90, 0.08);
}
@media (hover: none) {
  .jss136:hover {
    background-color: transparent;
  }
}
.jss137 {
  color: #5f095f;
  border: 1px solid rgba(95, 9, 95, 0.5);
}
.jss137:hover {
  border: 1px solid #5f095f;
  background-color: rgba(95, 9, 95, 0.08);
}
.jss137.jss142 {
  border: 1px solid rgba(0, 0, 0, 0.26);
}
@media (hover: none) {
  .jss137:hover {
    background-color: transparent;
  }
}
.jss138 {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  background-color: #e0e0e0;
}
.jss138:hover {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  background-color: #d5d5d5;
}
.jss138.jss141 {
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
}
.jss138:active {
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
}
.jss138.jss142 {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}
@media (hover: none) {
  .jss138:hover {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #e0e0e0;
  }
}
.jss138:hover.jss142 {
  background-color: rgba(0, 0, 0, 0.12);
}
.jss139 {
  color: #fff;
  background-color: #0e3b5a;
}
.jss139:hover {
  background-color: #081f2f;
}
@media (hover: none) {
  .jss139:hover {
    background-color: #0e3b5a;
  }
}
.jss140 {
  color: #fff;
  background-color: #5f095f;
}
.jss140:hover {
  background-color: rgb(66, 6, 66);
}
@media (hover: none) {
  .jss140:hover {
    background-color: #5f095f;
  }
}
.jss143 {
  color: inherit;
  border-color: currentColor;
}
.jss144 {
  padding: 4px 5px;
  font-size: 0.8125rem;
}
.jss145 {
  padding: 8px 11px;
  font-size: 0.9375rem;
}
.jss146 {
  padding: 3px 9px;
  font-size: 0.8125rem;
}
.jss147 {
  padding: 7px 21px;
  font-size: 0.9375rem;
}
.jss148 {
  padding: 4px 10px;
  font-size: 0.8125rem;
}
.jss149 {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.jss152 {
  width: 100%;
}
.jss153 {
  display: inherit;
  margin-left: -4px;
  margin-right: 8px;
}
.jss154 {
  display: inherit;
  margin-left: 8px;
  margin-right: -4px;
}
.jss155 > *:first-child {
  font-size: 18px;
}
.jss156 > *:first-child {
  font-size: 20px;
}
.jss157 > *:first-child {
  font-size: 22px;
}
</style>
        <style data-jss="" data-meta="MuiSvgIcon">
.jss59 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.jss60 {
  color: #0e3b5a;
}
.jss61 {
  color: #5f095f;
}
.jss62 {
  color: rgba(0, 0, 0, 0.54);
}
.jss63 {
  color: #f44336;
}
.jss64 {
  color: rgba(0, 0, 0, 0.26);
}
.jss65 {
  font-size: inherit;
}
.jss66 {
  font-size: 1.25rem;
}
.jss67 {
  font-size: 2.1875rem;
}
</style>
        <style data-jss="" data-meta="MuiTypography">
.jss17 {
  margin: 0;
}
.jss18 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}
.jss19 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.jss20 {
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}
.jss21 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.jss22 {
  font-size: 6rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.01562em;
}
.jss23 {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.00833em;
}
.jss24 {
  font-size: 3rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.04;
  letter-spacing: 0em;
}
.jss25 {
  font-size: 2.125rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.00735em;
}
.jss26 {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
}
.jss27 {
  font-size: 1.25rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.jss28 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.00938em;
}
.jss29 {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}
.jss30 {
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
}
.jss31 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}
.jss32 {
  text-align: left;
}
.jss33 {
  text-align: center;
}
.jss34 {
  text-align: right;
}
.jss35 {
  text-align: justify;
}
.jss36 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jss37 {
  margin-bottom: 0.35em;
}
.jss38 {
  margin-bottom: 16px;
}
.jss39 {
  color: inherit;
}
.jss40 {
  color: #0e3b5a;
}
.jss41 {
  color: #5f095f;
}
.jss42 {
  color: rgba(0, 0, 0, 0.87);
}
.jss43 {
  color: rgba(0, 0, 0, 0.54);
}
.jss44 {
  color: #f44336;
}
.jss45 {
  display: inline;
}
.jss46 {
  display: block;
}
</style>
        <style data-jss="" data-meta="MuiLink">
.jss48 {
  text-decoration: none;
}
.jss49 {
  text-decoration: none;
}
.jss49:hover {
  text-decoration: underline;
}
.jss50 {
  text-decoration: underline;
}
.jss51 {
  border: 0;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.jss51::-moz-focus-inner {
  border-style: none;
}
.jss51.jss52 {
  outline: auto;
}
</style>
        <style data-jss="" data-meta="MuiCssBaseline">
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
strong, b {
  font-weight: bolder;
}
body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  background-color: #fafafa;
}
@media print {
  body {
    background-color: #fff;
  }
}
body::backdrop {
  background-color: #fafafa;
}
</style>
        <style data-jss="" data-meta="MuiContainer">
.jss1 {
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width:600px) {
  .jss1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width:960px) {
  .jss1 {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width:480px) {
  .jss2 {
    max-width: 480px;
  }
}
@media (min-width:600px) {
  .jss2 {
    max-width: 600px;
  }
}
@media (min-width:960px) {
  .jss2 {
    max-width: 960px;
  }
}
@media (min-width:1280px) {
  .jss2 {
    max-width: 1280px;
  }
}
@media (min-width:1920px) {
  .jss2 {
    max-width: 1920px;
  }
}
@media (min-width:480px) {
  .jss3 {
    max-width: 480px;
  }
}
@media (min-width:600px) {
  .jss4 {
    max-width: 600px;
  }
}
@media (min-width:960px) {
  .jss5 {
    max-width: 960px;
  }
}
@media (min-width:1280px) {
  .jss6 {
    max-width: 1280px;
  }
}
@media (min-width:1920px) {
  .jss7 {
    max-width: 1920px;
  }
}
</style>
        <style data-jss="" data-meta="MuiIconButton">
.jss68 {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}
.jss68:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.jss68.jss74 {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
@media (hover: none) {
  .jss68:hover {
    background-color: transparent;
  }
}
.jss69 {
  margin-left: -12px;
}
.jss75.jss69 {
  margin-left: -3px;
}
.jss70 {
  margin-right: -12px;
}
.jss75.jss70 {
  margin-right: -3px;
}
.jss71 {
  color: inherit;
}
.jss72 {
  color: #0e3b5a;
}
.jss72:hover {
  background-color: rgba(14, 59, 90, 0.08);
}
@media (hover: none) {
  .jss72:hover {
    background-color: transparent;
  }
}
.jss73 {
  color: #5f095f;
}
.jss73:hover {
  background-color: rgba(95, 9, 95, 0.08);
}
@media (hover: none) {
  .jss73:hover {
    background-color: transparent;
  }
}
.jss75 {
  padding: 3px;
  font-size: 1.125rem;
}
.jss76 {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}
</style>
        <style data-jss="" data-meta="MuiToolbar">
.jss55 {
  display: flex;
  position: relative;
  align-items: center;
}
.jss56 {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width:600px) {
  .jss56 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.jss57 {
  min-height: 56px;
}
@media (min-width:0px) and (orientation: landscape) {
  .jss57 {
    min-height: 48px;
  }
}
@media (min-width:600px) {
  .jss57 {
    min-height: 64px;
  }
}
.jss58 {
  min-height: 48px;
}
</style>
        <style data-jss="" data-meta="MuiTab">
.jss116 {
  padding: 6px 12px;
  overflow: hidden;
  position: relative;
  font-size: 0.875rem;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  min-height: 48px;
  text-align: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  white-space: normal;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
@media (min-width:600px) {
  .jss116 {
    font-size: 0.8125rem;
    min-width: 160px;
  }
}
.jss117 {
  min-height: 72px;
  padding-top: 9px;
}
.jss117 .jss125 > *:first-child {
  margin-bottom: 6px;
}
.jss118 {
  color: inherit;
  opacity: 0.7;
}
.jss118.jss121 {
  opacity: 1;
}
.jss118.jss122 {
  opacity: 0.4;
}
.jss119 {
  color: rgba(0, 0, 0, 0.54);
}
.jss119.jss121 {
  color: #2E3154;
}
.jss119.jss122 {
  color: rgba(0, 0, 0, 0.38);
}
.jss120 {
  color: rgba(0, 0, 0, 0.54);
}
.jss120.jss121 {
  color: #5f095f;
}
.jss120.jss122 {
  color: rgba(0, 0, 0, 0.38);
}
.jss123 {
  flex-grow: 1;
  max-width: none;
  flex-basis: 0;
  flex-shrink: 1;
}
.jss124 {
  font-size: 0.75rem;
  line-height: 1.5;
}
.jss125 {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
</style>
        <style data-jss="" data-meta="MuiIcon">
.jss8 {
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
}
.jss9 {
  color: #0e3b5a;
}
.jss10 {
  color: #5f095f;
}
.jss11 {
  color: rgba(0, 0, 0, 0.54);
}
.jss12 {
  color: #f44336;
}
.jss13 {
  color: rgba(0, 0, 0, 0.26);
}
.jss14 {
  font-size: inherit;
}
.jss15 {
  font-size: 1.25rem;
}
.jss16 {
  font-size: 2.25rem;
}
</style>
        <style data-jss="" data-meta="PrivateTabIndicator">
.jss126 {
  width: 100%;
  bottom: 0;
  height: 2px;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.jss127 {
  background-color: #0e3b5a;
}
.jss128 {
  background-color: #5f095f;
}
.jss129 {
  right: 0;
  width: 2px;
  height: 100%;
}
</style>
        <style data-jss="" data-meta="MuiTabs">
.jss105 {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
}
.jss106 {
  flex-direction: column;
}
.jss107 {
  display: flex;
}
.jss108 {
  flex-direction: column;
}
.jss109 {
  justify-content: center;
}
.jss110 {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.jss111 {
  width: 100%;
  overflow-x: hidden;
}
.jss112 {
  overflow-x: scroll;
  scrollbar-width: none;
}
.jss112::-webkit-scrollbar {
  display: none;
}
@media (max-width:599.95px) {
  .jss114 {
    display: none;
  }
}
</style>
        <style data-jss="" data-meta="MuiBadge">
.jss80 {
  display: inline-flex;
  position: relative;
  flex-shrink: 0;
  vertical-align: middle;
}
.jss81 {
  height: 20px;
  display: flex;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  box-sizing: border-box;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
}
.jss82 {
  color: #fff;
  background-color: #0e3b5a;
}
.jss83 {
  color: #fff;
  background-color: #5f095f;
}
.jss84 {
  color: #fff;
  background-color: #f44336;
}
.jss85 {
  height: 6px;
  padding: 0;
  min-width: 6px;
}
.jss86 {
  top: 0;
  right: 0;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
.jss86.jss94 {
  transform: scale(0) translate(50%, -50%);
}
.jss87 {
  right: 0;
  bottom: 0;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}
.jss87.jss94 {
  transform: scale(0) translate(50%, 50%);
}
.jss88 {
  top: 0;
  left: 0;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
}
.jss88.jss94 {
  transform: scale(0) translate(-50%, -50%);
}
.jss89 {
  left: 0;
  bottom: 0;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0% 100%;
}
.jss89.jss94 {
  transform: scale(0) translate(-50%, 50%);
}
.jss90 {
  top: 14%;
  right: 14%;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}
.jss90.jss94 {
  transform: scale(0) translate(50%, -50%);
}
.jss91 {
  right: 14%;
  bottom: 14%;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;
}
.jss91.jss94 {
  transform: scale(0) translate(50%, 50%);
}
.jss92 {
  top: 14%;
  left: 14%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
}
.jss92.jss94 {
  transform: scale(0) translate(-50%, -50%);
}
.jss93 {
  left: 14%;
  bottom: 14%;
  transform: scale(1) translate(-50%, 50%);
  transform-origin: 0% 100%;
}
.jss93.jss94 {
  transform: scale(0) translate(-50%, 50%);
}
.jss94 {
  transition: transform 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
</style>
        <style data-jss="" data-meta="MuiPopover">
            .jss54 {
                outline: 0;
                position: absolute;
                max-width: calc(100% - 32px);
                min-width: 16px;
                max-height: calc(100% - 32px);
                min-height: 16px;
                overflow-x: hidden;
                overflow-y: auto;
            }
        </style>
        
        <link href="css/index.css" rel="stylesheet" />
        
        <meta charset="utf-8">
        <meta content="fr-FR" http-equiv="content-language">
        <title>Student Book - Online student life following</title>
        <meta name="description" content="MyStudent - Online student life following" />


        <link rel="shortcut icon" href="assets/ico/favicon.png" />  
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400i,600i&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Student Book</title>


        <link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.css" rel="stylesheet">
    <link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet">

    <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.js"></script>
    <script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid', 'timeGrid'],
          defaultView: 'dayGridMonth',
          defaultDate: '2020-01-17',
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth, timeGridWeek, timeGridDay'
          },
          events: [ 
            {
              title: 'NodeJS',
              start: '2020-01-20T08:00:00',
              end: '2020-01-20T12:00:00',
              backgroundColor: 'red'
            },
            {
              title: 'Visualisation et Colaboration autour des données',
              start: '2020-01-20T14:00:00',
              end: '2020-01-20T18:00:00',
              backgroundColor: 'red'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-21T10:00:00',
              end: '2020-01-20T12:00:00',
              backgroundColor: 'blue'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-21T14:00:00',
              end: '2020-01-20T20:00:00',
              backgroundColor: 'blue'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-22T10:00:00',
              end: '2020-01-22T12:00:00',
              backgroundColor: 'blue'
            },
            {
              title: 'Seminaire Innovation',
              start: '2020-01-22T14:00:00',
              end: '2020-01-22T18:00:00',
              backgroundColor: 'blue'
            }, 
            {
              title: 'Projet de fin etudes',
              start: '2020-01-23T10:00:00',
              end: '2020-01-23T12:30:00',
              backgroundColor: 'rgb(255, 233, 51)'
            }, 
            {
              title: 'Lunch with dad',
              start: '2020-01-12T12:00:00',
              end: '2020-01-12T14:00:00'
            }
          ]
        });
        calendar.render();
      });

    </script>
    </head>
    <body>
        <div id="root">
            <div id="header" class="sc-TOsTZ cEksjT">
                <div class="jss55 jss57 sc-cHGsZl idirGq jss56">
                    <div>
                        <a href="index.html">
                            <img srcset="assets/img/logoW.png" alt="Student Book" class="app-logo">
                        </a>
                    </div>
                    <div class="right">
                        <a class="jss77 jss68 jss71" href="login.html">
                            <button class="jss77 jss68 jss71" tabindex="0" type="button">
                                <span class="jss76">
                                    <h6 class="jss17 sc-iAyFgw iYgdxG jss29 jss39">[user]</h6>
                                    <svg class="jss59" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                                        <path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"></path>
                                    </svg>
                                </span>
                                <span class="jss95"></span>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="sc-hSdWYo gDZaHb">
                    <nav class="sc-eHgmQL cIiKOo">
                        <div class="jss105" aria-label="Menu">
                            <div class="jss110 jss111" style="overflow: hidden;">
                                <div class="jss107 jss109" role="tablist">
                                    <a class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" href="index.html">
                                        <button class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" tabindex="0" type="button" role="tab" aria-selected="false" aria-label="Accueil">
                                            <span class="jss125">
                                                <div class="sc-jWBwVP fCiYAr">
                                                    <span class="jss17 text jss18">Accueil</span>
                                                </div>
                                            </span>
                                            <span class="jss95"></span>
                                        </button>
                                    </a>
                                    <a class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss121 jss123" href="edt.html">
                                        <button class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss121 jss123" tabindex="0" type="button" role="tab" aria-selected="true" aria-label="Emplois du temps">
                                            <span class="jss125">
                                                <div class="sc-jWBwVP fCiYAr">
                                                    <span class="jss17 text jss18" style="font-weight: bold;">Emplois du temps</span>
                                                </div>
                                            </span>
                                            <span class="jss95"></span>
                                        </button>
                                    </a>
                                    <a class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" href="notes.html">
                                        <button class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" tabindex="0" type="button" role="tab" aria-selected="false" aria-label="Notations">
                                            <span class="jss125">
                                                <div class="sc-jWBwVP fCiYAr">
                                                    <span class="jss17 text jss18">Notations</span>
                                                </div>
                                            </span>
                                            <span class="jss95"></span>
                                        </button>
                                    </a>
                                    <a class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" href="abs.html">
                                        <button class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" tabindex="0" type="button" role="tab" aria-selected="false" aria-label="Absences">
                                            <span class="jss125">
                                                <div class="sc-jWBwVP fCiYAr">
                                                    <span class="jss17 text jss18">Absences</span>
                                                </div>
                                            </span>
                                            <span class="jss95"></span>
                                        </button>
                                    </a>
                                    <a class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" href="assoc.html">
                                        <button class="jss77 jss116 jss119 sc-cvbbAY cjFyGQ jss123" tabindex="0" type="button" role="tab" aria-selected="false" aria-label="Associations">
                                            <span class="jss125">
                                                <div class="sc-jWBwVP fCiYAr">
                                                    <span class="jss17 text jss18">Associations</span>
                                                </div>
                                            </span>
                                            <span class="jss95"></span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="container">
                <h1 style="font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif'; font-weight: normal; color: #2E3154;">Mon Emploi du temps</h1>
                <div id="calendar"></div>
            </div>
            <div id="footer" class="sc-frDJqD esUjcn">
                <div class="sc-kvZOFW lfVgCI">
                    <footer class="sc-hqyNC iQPqOT"></footer>
                </div>
                <div class="sc-tilXH bgXdYX">
                    <a class="jss17 jss47 jss49 sc-hEsumM iVEPpW jss40" href="https://www.efrei.fr" target="_blank">
                        <p class="jss17 sc-ktHwxA grrpTS jss18">
                            <span class="material-icons jss8" aria-hidden="true">copyright</span>&nbsp;2019 Efrei Paris
                        </p>
                    </a>
                </div>
            </div>